 <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="">
                            <img src="/images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                       <li class="tablinks active" onclick="openCity(event, 'usermgnt')">
                            <a href="/users">
                                <i class="fas fa-home"></i>User Management</a>
                        </li>
                    
                     <li class="tablinks" onclick="openCity(event, 'coursemgnt')">
                            <a href="/course">
                                <i class="fas fa-users"></i>Courses Management</a>
                        </li>  
                        <li class="tablinks" onclick="openCity(event, 'banrmgnt')">
                            <a href="/banner">
                                <i class="fas fa-headphones"></i>Banner Management</a>
                        </li>
                        <li class="tablinks" onclick="openCity(event, 'staticontentmgnt')">
                            <a href="/content">
                                <i class="fas fa-file"></i>Static Content Management</a>
                        </li>
                          <li class="tablinks" onclick="openCity(event, 'forumngnt')">
                            <a href="/forum">
                              <i class="fas fa-comment-alt"></i>Forum Management</a>
                        </li>
                         <li class="tablinks" onclick="openCity(event, 'subscrimgnt')">
                            <a href="/subscriptions"><i class="fas fa-female"></i>Subscription Management</a>
                        </li>
                          <li class="tablinks" onclick="openCity(event, 'subscrimgnt')">
                            <a href="/books"><i class="fas fa-book"></i>Books Management</a>
                        </li>
                        <li class="tablinks" onclick="openCity(event, 'subscrimgnt')">
                            <a href="/cupon"><i class="fas fa-percent"></i>Coupons Management</a>
                        </li>
                           <li class="tablinks" onclick="openCity(event, 'subscrimgnt')">
                            <a href="/order"><i class="fas fa-first-order" aria-hidden="true"></i>Orders Management</a>
                        </li>
                         <li class="tablinks" onclick="openCity(event, 'subscrimgnt')">
                            <a href="/testlist"><i class="fas fa-first-order" aria-hidden="true"></i>Test Management</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="">
                    <img src="/images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                     <li class="tablinks active" onclick="openCity(event, 'usermgnt')">
                            <a href="/users">
                                <i class="fas fa-home"></i>User Management</a>
                        </li>
                    
                     <li class="tablinks" onclick="openCity(event, 'coursemgnt')">
                            <a href="/course">
                                <i class="fas fa-users"></i>Courses Management</a>
                        </li>  
                        <li class="tablinks" onclick="openCity(event, 'banrmgnt')">
                            <a href="/banner">
                                <i class="fas fa-headphones"></i>Banner Management</a>
                        </li>
                        <li class="tablinks" onclick="openCity(event, 'staticontentmgnt')">
                            <a href="/content">
                                <i class="fas fa-file"></i>Static Content Management</a>
                        </li>
                          <li class="tablinks" onclick="openCity(event, 'forumngnt')">
                            <a href="/forum">
                              <i class="fas fa-comment-alt"></i>Forum Management</a>
                        </li>
                         <li class="tablinks" onclick="openCity(event, 'subscrimgnt')">
                            <a href="/subscriptions"><i class="fas fa-female"></i>Subscription Management</a>
                        </li>
                          <li class="tablinks" onclick="openCity(event, 'subscrimgnt')">
                            <a href="/books"><i class="fas fa-book"></i>Books Management</a>
                        </li>
                            <li class="tablinks" onclick="openCity(event, 'subscrimgnt')">
                            <a href="/cupon"><i class="fas fa-percent"></i>Coupon Management</a>
                        </li>
                           <li class="tablinks" onclick="openCity(event, 'subscrimgnt')">
                            <a href="/order"><i class="fas fa-first-order" aria-hidden="true"></i>Orders Management</a>
                        </li>
                        <li class="tablinks" onclick="openCity(event, 'testmgnt')">
                            <a href="/testlist">
                                <i class="fas fa-child"></i>Test Management</a>
                        </li>
                        <li class="tablinks" onclick="openCity(event, 'testmgnt')">
                            <a href="/sessionlist">
                                <i class="fas fa-child"></i>Doubt Session</a>
                        </li>
                           <li class="tablinks" onclick="openCity(event, 'testmgnt')">
                            <a href="/faqlist">
                                <i class="fas fa-child"></i>FAQ</a>
                        </li>
                          <li class="tablinks" onclick="openCity(event, 'testmgnt')">
                            <a href="/livestream">
                                <i class="fas fa-child"></i>Live Channel</a>
                        </li>
                        <li class="tablinks" onclick="openCity(event, 'previous_live')">
                            <a href="/previous_live">
                                <i class="fas fa-child"></i>Previous Live Videos</a>
                        </li>
                         <li class="tablinks" onclick="openCity(event, 'sendnotify')">
                            <a href="/sendnotify">
                                <i class="fas fa-child"></i>Send Notification</a>
                        </li>
                         <li class="tablinks" onclick="openCity(event, 'paymentlist')">
                            <a href="/paymentlist">
                                <i class="fas fa-child"></i>Payment Management</a>
                        </li>
                         <li class="tablinks" onclick="openCity(event, 'assignmentlist')">
                            <a href="/assignmentlist">
                                <i class="fas fa-child"></i>Assignment Management</a>
                        </li>
                        
                        <!--
                        
                        <li class="tablinks" onclick="openCity(event, 'livelectmgnt')">
                            <a href="#"><i class="fas fa-graduation-cap"></i>Live Lectures Management</a>
                        </li>
                        
                        <li class="tablinks" onclick="openCity(event, 'coursemgnt')">
                             <a href="#"><i class="fas fa-users"></i>Courses Management</a>
                        </li>

                        <li class="tablinks" onclick="openCity(event, 'subscrimgnt')">
                            <a href="#"><i class="fas fa-female"></i>Subscription Management</a>
                        </li>
                        
                        <li class="tablinks" onclick="openCity(event, 'paymgnt')">
                            <a href="#"><i class="fas fa-child"></i>Payment Management</a>
                        </li> -->
                        
                        <!-- <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Test Management</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
  
                            </ul>
                        </li> -->
                        
                        
                        <!-- <li class="tablinks" onclick="openCity(event, 'notifymgnt')">
                            <a href="#">
                                <i class="fas fa-headphones"></i>Notifications Management</a>
                        </li>
                        
                        <li class="tablinks" onclick="openCity(event, 'banrmgnt')">
                            <a href="#">
                                <i class="fas fa-headphones"></i>Banner Management</a>
                        </li>
                        
                        <li class="tablinks" onclick="openCity(event, 'forumngnt')">
                            <a href="#">
                                <i class="fas fa-headphones"></i>Forum Management</a>
                        </li>
                        
                        <li class="tablinks" onclick="openCity(event, 'staticontentmgnt')">
                            <a href="#">
                                <i class="fas fa-headphones"></i>Static Content Management</a>
                        </li>
                        
                        <li class="tablinks" onclick="openCity(event, 'ordermgnt')">
                            <a href="#">
                                <i class="fas fa-headphones"></i>Order Management</a>
                        </li>
                        
                        <li class="tablinks" onclick="openCity(event, 'reportsmgnt')">
                            <a href="#">
                                <i class="fas fa-utensils"></i>Reports</a>
                        </li> -->
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="/search" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for users" />
                                <input type="hidden" name="remark" id="setremarkpag">
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="/images/<%= admindetails[0].image %>" alt="<%= admindetails[0].fullname %>" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#"><%= admindetails[0].fullname %></a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="/images/<%= admindetails[0].image %>" alt="<%= admindetails[0].fullname %>" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#"><%= admindetails[0].fullname %></a>
                                                    </h5>
                                                    <span class="email"><%= admindetails[0].email %></span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="/changepassword">
                                                    <i class="zmdi zmdi-power"></i>Change Password</a>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="/logout">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
           