<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<div id="staticontentmgnt" class="tabcontent">
        <div class="main-content">
              <div class="section__content section__content--p30">
                <div class="container-fluid">
                <div class="row">
                <div class="col-md-12"> 
                <div class="overview-wrap">
                      <h2 class="title-1">Add New Book</h2>
                </div>
                <div class="container">
                     <% if (validacao) { %>
            		<ul style="color:red;">
            		<% for (let i=0; i < validacao.length; i++) { %>	
            			<li style="color:red;"><%= validacao[i].msg%></li>
            		<%}%>
            		</ul>
            	<%}%>
                <ul id="imageerr" style="color:red;display: none;">
                  <li style="color:red;">Image Field is required</li>
                </ul>
                <form action="/addbook" method="post" enctype="multipart/form-data">
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" name="title" placeholder="Title">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="description" name="description" placeholder="Description about book">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Price</label>
    <div class="col-sm-10">
     <input type="text" class="form-control" id="price" name="price" placeholder="Price">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Publisher Name</label>
    <div class="col-sm-10">
     <input type="text" class="form-control" id="pulisher" name="pulisher" placeholder="eg ie ram">
    </div>
  </div>
   <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Book Thumbnail</label>
    <div class="col-sm-10">
     <input type="file" class="form-control" id="image" name="image" >
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Book Pdf</label>
    <div class="col-sm-10">
     <input type="file" class="form-control" id="file" name="file">
    </div>
  </div>
  
  
  
 
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="button" class="btn btn-primary" id="submitbookbutton">Save</button>
    </div>
  </div>
</form>
</div>
                
                </div>
                    </div>
        
                </div>
                </div>
                </div>
              </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<% include partials/footer.ejs %>
<script type="text/javascript">

  $("#submitbookbutton").click(function(){

       var image = $("#image").val();

        if(image != ''){
            $("#imageerr").css("display","none");
            $("#submitbookbutton").attr("type","submit");
            $("#submitbookbutton").click();
        } else {
            $("#imageerr").css("display","block");
        }

  });
 
</script>