<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <div  id="insideproc" class="tabdatabga coursetypecontent col-md-12" >
                                <div class="main-content">
                                <a href="/course" class="coursenewlink" onclick="openCourseadd (event, 'mainproc')">
                                            Back</a>   
                                    <div class="">
                                    <button class="au-btn au-btn-icon au-btn--blue courselinks"  onclick="openCourse(event, 'paidcourse')">
                                        Paid</button>
                                        
                                    <button class="au-btn au-btn-icon au-btn--blue courselinks"  onclick="openCourse(event, 'freecourse')">
                                            Free</button>
                                            
                                        
                                        <div id="paidcourse" class="coursecontent" style="display: block;">
                                             <h1>Paid</h1>
                                        <form  action="/addpaidcourse" method="post" enctype="multipart/form-data">
                                            
                                              
                                              <!-- One "tab" for each step in the form: -->
                                              <div class="tab insidesteps">
                                              <div class="row">
                                              <div class="col-md-10">
                                                <p><input type="text" placeholder="Course Title" oninput="this.className = ''" name="title" id="paidtitle"></p>
                                                 <span id="paidtitle_error" style="color: red;"></span>
                                                <p><textarea placeholder="Description" oninput="this.className = ''" name="description" id="paiddescription"></textarea>
                                                 <span id="paiddescription_error" style="color: red;"></span></p>
                                                <p><input type="text" placeholder="View Count" value="3" oninput="this.className = ''" name="view_count" id="view_count"></p>
                                                 <span id="paidtitle_error" style="color: red;"></span> 
                                                <p><input type="text" placeholder="Price.." oninput="this.className = ''" name="price" id="paidprice">
                                                 <span id="paidprice_error" style="color: red;"></span></p>
                                                  <p><input type="text" placeholder="Name of Intro Video File" oninput="this.className = ''" name="paidvideo" id="paidvideo" class=""></p>
                                                <span id="paidvideo_error" style="color: red;"></span>
                                                <p><input type="text" placeholder="Name of Intro Video Thumbnail File" oninput="this.className = ''" name="paidintrovideothumb" id="paidintrovideothumb" class=""></p>
                                                </div>
                                                
                                                </div>
                                              </div>
                                              <input type="hidden" name="numberofmodule" id="numberofmodule" value="0">
                                              <input type="hidden" name="mainpaidthumbnail" id="mainpaidthumbnail" >
                                              <ol class="videoitmasec">
                                                
                                            
                                              
                                              </ol>
                                             <input type="button" value="Add Course Videos" class="btn btn-primsub addmorevideos" >
                                               <input type="button" id="paidcoursesubmition" class="btn btn-primsub" value="Submit">


                                        </form>
                                        </div>
                                        
                                        <div id="freecourse" class="coursecontent" style="display: none;">
                                            <h1>Free</h1>
                                            
                                            `<form action="/addfreecourse" method="post" enctype="multipart/form-data">
                                              <div class="row">
                                              <div class="col-md-6">
                                                <p><input type="text" placeholder="Course Title" oninput="this.className = ''" name="title" id="freetitle" class=""></p>
                                                <span id="freetitle_error" style="color: red;"></span>
                                                <p><textarea placeholder="Description" oninput="this.className = ''" name="description" id="freedescription" class=""></textarea></p>
                                                <span id="freedescription_error" style="color: red;"></span>
                                                 <p><input type="text" placeholder="Name of Video File" oninput="this.className = ''" name="video" id="freevideo" class=""></p>
                                                <span id="freevideo_error" style="color: red;"></span>
                                                <p><input type="text" placeholder="Name of Video Thumbnail File" oninput="this.className = ''" name="videothumb" id="freevideothumb" class=""></p>
                                               
                                                </div>
                                                 <div class="col-md-6">
                                                
                                                <!-- <div class="video_change_edit">
                                                    <video width="400" controls="">
                                                      <source src="blob:http://mobuloustech.com/71d1f458-c3ea-4ddb-87c7-286e7ff345e1" id="video_here1">
                                                        Your browser does not support HTML5 video.
                                                    </video>
                                                    
                                                    <input type="file" name="file1" id="freevideo"  oninput="this.className = 'file_multi_video1'" class="file_multi_video1 thumbnailcheck" accept="video/*">
                                                    <i class="fa fa-upload"></i>
                                                    <span id="freevideo_error" style="color: red;"></span>
                                                </div> -->
                                                </div>
                                                </div>
                                                <br>
                                                  <input type="hidden" name="mainfreethumbnail" id="mainfreethumbnail" >
                                                
                                                  <input type="button" class="btn btn-primsub" id="freecoursesubmition" value="Submit">
                                               
                                                </form>
                                        </div>
                                <!-- DATA TABLE-->
                                        
                                <!-- END DATA TABLE-->
                                    </div>
                               </div>
                                    </div>


                                    
                                    <script>
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the crurrent tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}


</script>


<script type="text/javascript">


    $(document).ready(function(){

      

        $(".addmorevideos").click(function(){
            var totalrecord = $("#numberofmodule").val();
            totalrecord++;
            $(".videoitmasec").append("<li><ul><li><input type='text' placeholder='Module Name' name='modulename"+totalrecord+"' id='modulename"+totalrecord+"'>  <input type='hidden' name='mainpaidthumbnail"+totalrecord+"' id='mainpaidthumbnail"+totalrecord+"' > <span id='modulename"+totalrecord+"_error' style='color: red;'></span><input type='text' placeholder='title' name='title"+totalrecord+"' id='title"+totalrecord+"'><span id='modulename"+totalrecord+"_error' style='color: red;'></span><textarea placeholder='Enter Video Description ..' name='description"+totalrecord+"' id='description"+totalrecord+"'></textarea><span id='description"+totalrecord+"_error' style='color: red;'></span><input type='text' name='videofile"+totalrecord+"' placeholder='Enter Video File Name' id='videofile"+totalrecord+"' data='"+totalrecord+"'><span id='videofile"+totalrecord+"_error' style='color: red;'></span><input type='text' name='videofilethumb"+totalrecord+"' placeholder='Enter Video Thumb File Name' id='videofilethumb"+totalrecord+"' data='"+totalrecord+"'></li></ul></li>"); 
            $("#numberofmodule").val(totalrecord);

            

             document.getElementById("videofile"+totalrecord).addEventListener('change', function(event) {
  var file = event.target.files[0];
  var fileReader = new FileReader();
  if (file.type.match('image')) {
    fileReader.onload = function() {
      var img = document.createElement('img');
      img.src = fileReader.result;
      document.getElementsByTagName('div')[0].appendChild(img);
    };
    fileReader.readAsDataURL(file);
  } else {
    fileReader.onload = function() {
      var blob = new Blob([fileReader.result], {type: file.type});
      var url = URL.createObjectURL(blob);
      
      var video = document.createElement('video');
      var timeupdate = function() {
        if (snapImage()) {
          video.removeEventListener('timeupdate', timeupdate);
          video.pause();
        }
      };
      video.addEventListener('loadeddata', function() {
        if (snapImage()) {
          video.removeEventListener('timeupdate', timeupdate);
        }
      });
      var snapImage = function() {
        var canvas = document.createElement('canvas');
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
        var image = canvas.toDataURL();
        var success = image.length > 100000;
        if (success) {
        //  var img = document.createElement('img');
        //  img.src = image;
 document.getElementById("mainpaidthumbnail"+totalrecord).value =  image;    document.getElementsByTagName('div')[0].appendChild(img);
          //URL.revokeObjectURL(url);
        }
        return success;
      };
      
      
      video.addEventListener('timeupdate', timeupdate);
      video.preload = 'metadata';
      video.src = url;
         
      // Load video in Safari / IE11
      video.muted = true;
      video.playsInline = true;
      video.play();
    };
    fileReader.readAsArrayBuffer(file);
  }
});
        });

        //   $(".thumbnailcheck").change(function(){
        //      if($(this).attr('id') == 'paidfile'){
        //         thumbnailcreation($(this).attr('id'),"mainpaidthumbnail");
        //      } else {
        //         thumbnailcreation($(this).attr('id'),"mainfreethumbnail");
        //      }
        // });

        $(document).on("click", "a.remove" , function() {
            $(this).parent().remove();
        });


                                        $("#freecoursesubmition").click(function(){
                                            
                                                if($("#freetitle").val() == ''){
                                                    $("#freetitle_error").text("Please enter a vaild Title");
                                                }
                                                if($("#freedescription").val() == ''){
                                                    $("#freedescription_error").text("Please enter a vaild Description");
                                                }
                                             
                                                if($("#freevideo").val() == ''){
                                                    $("#freevideo_error").text("Video file is required");
                                                }
                                                if($("#freetitle").val() != '' && $("#freevideo").val() != '' && $("#freedescription").val() != ''){
                                                     $("#freecoursesubmition").attr("type","submit");
                                                     $("#freecoursesubmition").click()
                                                }
                                        });

                                        $("#paidcoursesubmition").click(function(){
                                            
                                                if($("#paidtitle").val() == ''){
                                                    $("#paidtitle_error").text("Please enter a vaild Title");
                                                }
                                                if($("#paidprice").val() == ''){
                                                    $("#paidprice_error").text("Please enter a vaild Price");
                                                }
                                                if($("#paiddescription").val() == ''){
                                                    $("#paiddescription_error").text("Please enter a vaild Description");
                                                }
                                             
                                                if($("#paidvideo").val() == ''){
                                                    $("#paidvideo_error").text("Video file is required");
                                                }
                                                if($("#paidtitle").val() != '' && $("#paidfile").val() != '' && $("#paidprice").val() != '' && $("#paiddescription").val() != ''){

                                                     var countvalue = $("#numberofmodule").val();

                                                    // alert(countvalue);

                                                     if(countvalue == '0'){
                                                         $("#paidcoursesubmition").attr("type","submit");
                                                         $("#paidcoursesubmition").click();
                                                     } else {
                                                        var ipaid;
                                                        countvalue++;
                                                        var okmodulecount = 0;
                                                        for (ipaid = 1; ipaid < countvalue; ipaid++) { 
                                                            if($("#modulename"+ipaid).val() == ''){
                                                                    $("#modulename"+ipaid+"_error").text("Please enter a vaild Title");
                                                                    okmodulecount++;
                                                                }
                                                                if($("#title"+ipaid).val() == ''){
                                                                    $("#title"+ipaid+"_error").text("Please enter a vaild Price");
                                                                    okmodulecount++;
                                                                }
                                                                if($("#description"+ipaid).val() == ''){
                                                                    $("#description"+ipaid+"_error").text("Please enter a vaild Description");
                                                                    okmodulecount++;
                                                                }
                                                             
                                                                if($("#videofile"+ipaid).val() == ''){
                                                                    $("#videofile"+ipaid+"_error").text("Video file is required");
                                                                    okmodulecount++;
                                                                }
                                                        }

                                                        if(okmodulecount == 0){
                                                              $("#paidcoursesubmition").attr("type","submit");
                                                              $("#paidcoursesubmition").click();
                                                        }
                                                     }
                                                    
                                                }
                                        });
    });
    
 $('#checkAll').click(function () {    
    $(':checkbox.checkItem').prop('checked', this.checked);    
 });
</script>

<script type="text/javascript">


  
  document.getElementById("freevideo").addEventListener('change', function(event) {
  var file = event.target.files[0];
  var fileReader = new FileReader();
  if (file.type.match('image')) {
    fileReader.onload = function() {
      var img = document.createElement('img');
      img.src = fileReader.result;
      document.getElementsByTagName('div')[0].appendChild(img);
    };
    fileReader.readAsDataURL(file);
  } else {
    fileReader.onload = function() {
      var blob = new Blob([fileReader.result], {type: file.type});
      var url = URL.createObjectURL(blob);
      
      var video = document.createElement('video');
      var timeupdate = function() {
        if (snapImage()) {
          video.removeEventListener('timeupdate', timeupdate);
          video.pause();
        }
      };
      video.addEventListener('loadeddata', function() {
        if (snapImage()) {
          video.removeEventListener('timeupdate', timeupdate);
        }
      });
      var snapImage = function() {
        var canvas = document.createElement('canvas');
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
        var image = canvas.toDataURL();
        var success = image.length > 100000;
        if (success) {
        //  var img = document.createElement('img');
        //  img.src = image;
 document.getElementById("mainfreethumbnail").value =  image;    document.getElementsByTagName('div')[0].appendChild(img);
          //URL.revokeObjectURL(url);
        }
        return success;
      };
      
      
      video.addEventListener('timeupdate', timeupdate);
      video.preload = 'metadata';
      video.src = url;
         
      // Load video in Safari / IE11
      video.muted = true;
      video.playsInline = true;
      video.play();
    };
    fileReader.readAsArrayBuffer(file);
  }
});

   document.getElementById("paidfile").addEventListener('change', function(event) {
  var file = event.target.files[0];
  var fileReader = new FileReader();
  if (file.type.match('image')) {
    fileReader.onload = function() {
      var img = document.createElement('img');
      img.src = fileReader.result;
      document.getElementsByTagName('div')[0].appendChild(img);
    };
    fileReader.readAsDataURL(file);
  } else {
    fileReader.onload = function() {
      var blob = new Blob([fileReader.result], {type: file.type});
      var url = URL.createObjectURL(blob);
      
      var video = document.createElement('video');
      var timeupdate = function() {
        if (snapImage()) {
          video.removeEventListener('timeupdate', timeupdate);
          video.pause();
        }
      };
      video.addEventListener('loadeddata', function() {
        if (snapImage()) {
          video.removeEventListener('timeupdate', timeupdate);
        }
      });
      var snapImage = function() {
        var canvas = document.createElement('canvas');
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
        var image = canvas.toDataURL();
        var success = image.length > 100000;
        if (success) {
        //  var img = document.createElement('img');
        //  img.src = image;
 document.getElementById("mainpaidthumbnail").value =  image;    document.getElementsByTagName('div')[0].appendChild(img);
          //URL.revokeObjectURL(url);
        }
        return success;
      };
      
      
      video.addEventListener('timeupdate', timeupdate);
      video.preload = 'metadata';
      video.src = url;
         
      // Load video in Safari / IE11
      video.muted = true;
      video.playsInline = true;
      video.play();
    };
    fileReader.readAsArrayBuffer(file);
  }
});

</script>

<style>
.tab {
    display: none;
}
</style>

<% include partials/footer.ejs %>