<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<div id="staticontentmgnt" class="tabcontent">
        <div class="main-content">
              <div class="section__content section__content--p30">
                <div class="container-fluid">
                <div class="row">
                <div class="col-md-12"> 
                <div class="overview-wrap">
                      <h2 class="title-1">Add New Faq</h2>
                </div>
                <div class="container">
                     <% if (validacao) { %>
            		<ul style="color:red;">
            		<% for (let i=0; i < validacao.length; i++) { %>	
            			<li style="color:red;"><%= validacao[i].msg%></li>
            		<%}%>
            		</ul>
            	<%}%>
                <form action="/submitfaq" method="post">
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Query</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="query" name="query" placeholder="Write a query">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Answer</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="ans" name="ans" placeholder="Answer">
    </div>
  </div>
  
  
  
  </div>
  
 
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Add Faq</button>
    </div>
  </div>
</form>
</div>
                
                </div>
                    </div>
        
                </div>
                </div>
                </div>
              </div>
<style>
    .select2-selection__choice__remove {
    display: none !important;
}

</style>  

<style>
    .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
    width: 250px !important;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<% include partials/footer.ejs %>