<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>
  <script src="//cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div id="staticontentmgnt" class="tabcontent">
        <div class="main-content">
              <div class="section__content section__content--p30">
                <div class="container-fluid">
                <div class="row">
                <div class="col-md-12"> 
                <div class="overview-wrap">
                      <h2 class="title-1">Add New Forum</h2>
                </div>
<div class="container">
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#home">Videos</a></li>
    <li><a data-toggle="pill" href="#menu1">Topics</a></li>
  
  </ul>
  
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">

    <form action="/addforumvideo" method="post" enctype="multipart/form-data">
   <div class="row">
                                              <div class="col-md-6">
                                                <p><input type="text" placeholder="Course Title" oninput="this.className = ''" name="title" id="freetitle" class=""></p>
                                                <span id="freetitle_error" style="color: red;"></span>
                                                <p><textarea placeholder="Description" oninput="this.className = ''" name="description" id="freedescription" class=""></textarea></p>
                                                <span id="freedescription_error" style="color: red;"></span>
                                           
                                                </div>
                                                 <div class="col-md-6">
                                                
                                                <div class="video_change_edit">
                                                    <video width="400" controls="">
                                                      <source src="blob:http://mobuloustech.com/71d1f458-c3ea-4ddb-87c7-286e7ff345e1" id="video_here1">
                                                        Your browser does not support HTML5 video.
                                                    </video>
                                                    
                                                    <input type="file" name="file1" id="freevideo"  oninput="this.className = 'file_multi_video1'" class="file_multi_video1" accept="video/*">
                                                    <i class="fa fa-upload"></i>
                                                    <span id="freevideo_error" style="color: red;"></span>
                                                </div>
                                                </div>
                                                </div>
                                                
                                                
                                                  <input type="button" id="freecoursesubmition" value="Submit">
  </form>
    </div>
    <div id="menu1" class="tab-pane fade">
      <form action="/addforumtopic" method="post">
          <div class="row">
                                              <div class="col-md-6">
                                                <p><input type="text" placeholder="Topic Name" oninput="this.className = ''" name="topicname" id="topicname" class=""></p>
                                                <span id="freetopic_name" style="color: red;"></span>
                                                </div>
          </div>
         <input type="button" id="addtopicname" value="Submit">
  </form>
    </div>
    
  </div>
</div>
</div>
                    </div>
        
                </div>
                </div>
                </div>
              </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $("#freecoursesubmition").click(function(){
        if($("#freetitle").val() == ''){
                                                    $("#freetitle_error").text("Please enter a vaild Title");
                                                }
                                                if($("#freedescription").val() == ''){
                                                    $("#freedescription_error").text("Please enter a vaild Description");
                                                }
                                             
                                                if($("#freevideo").val() == ''){
                                                    $("#freevideo_error").text("Video file is required");
                                                }
                                                if($("#freetitle").val() != '' && $("#freevideo").val() != '' && $("#freedescription").val() != ''){
                                                     $("#freecoursesubmition").attr("type","submit");
                                                     $("#freecoursesubmition").click()
                                                }
  });

  $("#addtopicname").click(function(){
       if($("#topicname").val() == ''){
            $("#freetopic_name").text("Please enter a vaild Topic Name");
       }

        if($("#topicname").val() != ''){
             $("#addtopicname").attr("type","submit");
                                                     $("#addtopicname").click()
       }
  });
</script>
<% include partials/footer.ejs %>
