<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>
  <script src="//cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div id="staticontentmgnt" class="tabcontent">
        <div class="main-content">
              <div class="section__content section__content--p30">
                <div class="container-fluid">
                <div class="row">
                <div class="col-md-12"> 
                <div class="overview-wrap">
                      <h2 class="title-1">Add Doubt Session</h2>
                </div>
<div class="container">
 <% if (validacao) { %>
                    <ul style="color:red;">
                    <% for (let i=0; i < validacao.length; i++) { %>    
                        <li style="color:red;"><%= validacao[i].msg%></li>
                    <%}%>
                    </ul>
                <%}%>
  <form action="/submitsession" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Topic Name</label>
    <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp" placeholder="Enter Topic Name" required="">
  
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Venue</label>
    <input type="text" class="form-control" name="venue" id="venue" aria-describedby="emailHelp" placeholder="Enter Doubt Session Venue" required="">
  
  </div>
  <div class="form-group">
  <label for="comment">Date:</label>
   <input type="text" class="form-control" name="date" id="date" aria-describedby="emailHelp" placeholder="Sat, 16 Feb 1:00PM - 5:00PM" required="">
</div>

  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
</div>
                    </div>
        
                </div>
                </div>
                </div>
              </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">



  $("#freecoursesubmition").click(function(){
        if($("#freetitle").val() == ''){
                                                    $("#freetitle_error").text("Please enter a vaild Title");
                                                }
                                                if($("#freedescription").val() == ''){
                                                    $("#freedescription_error").text("Please enter a vaild Description");
                                                }
                                             
                                                if($("#freevideo").val() == ''){
                                                    $("#freevideo_error").text("Video file is required");
                                                }
                                                if($("#freetitle").val() != '' && $("#freevideo").val() != '' && $("#freedescription").val() != ''){
                                                     $("#freecoursesubmition").attr("type","submit");
                                                     $("#freecoursesubmition").click()
                                                }
  });

  $("#addtopicname").click(function(){
       if($("#topicname").val() == ''){
            $("#freetopic_name").text("Please enter a vaild Topic Name");
       }

        if($("#topicname").val() != ''){
             $("#addtopicname").attr("type","submit");
                                                     $("#addtopicname").click()
       }
  });
</script>
<% include partials/footer.ejs %>
