<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<div id="staticontentmgnt" class="tabcontent">
        <div class="main-content">
              <div class="section__content section__content--p30">
                <div class="container-fluid">
                <div class="row">
                <div class="col-md-12"> 
                <div class="overview-wrap">
                      <h2 class="title-1">Add New Subscription</h2>
                </div>
                <div class="container">
                     <% if (validacao) { %>
            		<ul style="color:red;">
            		<% for (let i=0; i < validacao.length; i++) { %>	
            			<li style="color:red;"><%= validacao[i].msg%></li>
            		<%}%>
            		</ul>
            	<%}%>
                <form action="/addsubsubmit" method="post">
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" name="title" placeholder="Title">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="description" name="description" placeholder="Description about subscription">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Price</label>
    <div class="col-sm-10">
     <input type="text" class="form-control" id="price" name="price" placeholder="Price">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Validity</label>
    <div class="col-sm-10">
     <input type="text" class="form-control" id="validity" name="validity" placeholder="Validity in Days ie 30">
    </div>
  </div>
  
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Live Classes</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="live_classes" id="gridRadios1" value="1" checked>
          <label class="form-check-label" for="gridRadios1">
            Yes Enable it
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="live_classes" id="gridRadios2" value="0">
          <label class="form-check-label" for="gridRadios2">
            Yes Disable it
          </label>
        </div>
      </div>
    </div>
  </fieldset>

   <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Live Video On Demand</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="live_video_on_demand" id="gridRadios1" value="1" checked>
          <label class="form-check-label" for="gridRadios1">
             Yes Enable it
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="live_video_on_demand" id="gridRadios2" value="0">
          <label class="form-check-label" for="gridRadios2">
             Yes Disable it
          </label>
        </div>
      </div>
    </div>
  </fieldset>

   <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Weekly Test</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="weekly_test" id="gridRadios1" value="1" checked>
          <label class="form-check-label" for="gridRadios1">
             Yes Enable it
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="weekly_test" id="gridRadios2" value="0">
          <label class="form-check-label" for="gridRadios2">
            Yes Disable it
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Course Video</label>
    <div class="col-sm-10">
   <select id="country" name="course_videos" multiple>
        <option disabled></option>
           <% if (details.length > 0) {

                                                     var incnum = 0;
                                                     details.forEach((player, index) => {
                                                     
                                                     incnum++;
                                                     %> 
        <option value="<%= player.id %>"><%= player.title %></option>
        <% }) } %>
    </select>
    </div>
  </div>
  
 
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Add Subscription</button>
    </div>
  </div>
</form>
</div>
                
                </div>
                    </div>
        
                </div>
                </div>
                </div>
              </div>
<style>
    .select2-selection__choice__remove {
    display: none !important;
}

</style>  
<script>
    $(document).ready(function() {
    let branch_all = [];
    
    function formatResult(state) {
        if (!state.id) {
            var btn = $('<div class="text-right"><button id="all-branch" style="margin-right: 10px;" class="btn btn-default">Select All</button><button id="clear-branch" class="btn btn-default">Clear All</button></div>')
            return btn;
        }
        
        branch_all.push(state.id);
        var id = 'state' + state.id;
        var checkbox = $('<div class="checkbox"><input id="'+id+'" type="checkbox" '+(state.selected ? 'checked': '')+'><label for="checkbox1">'+state.text+'</label></div>', { id: id });
        return checkbox;   
    }
    
    function arr_diff(a1, a2) {
        var a = [], diff = [];
        for (var i = 0; i < a1.length; i++) {
            a[a1[i]] = true;
        }
        for (var i = 0; i < a2.length; i++) {
            if (a[a2[i]]) {
                delete a[a2[i]];
            } else {
                a[a2[i]] = true;
            }
        }
        for (var k in a) {
            diff.push(k);
        }
        return diff;
    }
    
    let optionSelect2 = {
        templateResult: formatResult,
        closeOnSelect: false,
        width: '100%'
    };
    
    let $select2 = $("#country").select2(optionSelect2);
    
    var scrollTop;
    
    $select2.on("select2:selecting", function( event ){
        var $pr = $( '#'+event.params.args.data._resultId ).parent();
        scrollTop = $pr.prop('scrollTop');
    });
    
    $select2.on("select2:select", function( event ){
        $(window).scroll();
        
        var $pr = $( '#'+event.params.data._resultId ).parent();
        $pr.prop('scrollTop', scrollTop );
        
        $(this).val().map(function(index) {
            $("#state"+index).prop('checked', true);
        });
    });
    
    $select2.on("select2:unselecting", function ( event ) {
        var $pr = $( '#'+event.params.args.data._resultId ).parent();
        scrollTop = $pr.prop('scrollTop');
    });
    
    $select2.on("select2:unselect", function ( event ) {
        $(window).scroll();
        
        var $pr = $( '#'+event.params.data._resultId ).parent();
        $pr.prop('scrollTop', scrollTop );
        
        var branch	=	$(this).val() ? $(this).val() : [];
        var branch_diff = arr_diff(branch_all, branch);
        branch_diff.map(function(index) {
            $("#state"+index).prop('checked', false);
        });
    });
    
    $(document).on("click", "#all-branch",function(){
        $("#country > option").not(':first').prop("selected", true);// Select All Options
        $("#country").trigger("change")
        $(".select2-results__option").not(':first').attr("aria-selected", true);
        $("[id^=state]").prop("checked", true);
        $(window).scroll();
    });
    
    $(document).on("click", "#clear-branch", function(){
    	$("#country > option").not(':first').prop("selected", false);
    	$("#country").trigger("change");
        $(".select2-results__option").not(':first').attr("aria-selected", false);
        $("[id^=state]").prop("checked", false);
        $(window).scroll();
    });
});
</script>
<style>
    .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
    width: 250px !important;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<% include partials/footer.ejs %>