<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>
  <script src="//cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div id="staticontentmgnt" class="tabcontent">
        <div class="main-content">
              <div class="section__content section__content--p30">
                <div class="container-fluid">
                <div class="row">
                <div class="col-md-12"> 
                <div class="overview-wrap">
                      <h2 class="title-1">Add New Test</h2>
                </div>
<div class="container">
 <% if (validacao) { %>
                    <ul style="color:red;">
                    <% for (let i=0; i < validacao.length; i++) { %>    
                        <li style="color:red;"><%= validacao[i].msg%></li>
                    <%}%>
                    </ul>
                <%}%>
  <form action="/submittest" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Test Series</label>
    <input type="text" class="form-control" name="series_name" id="series_name" aria-describedby="emailHelp" placeholder="Enter Series Name" required="">
  
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Test Name</label>
    <input type="text" class="form-control" name="test_name" id="test_name" aria-describedby="emailHelp" placeholder="Enter Series Name" required="">
  
  </div>
  <div class="form-group">
  <label for="comment">Description:</label>
  <textarea class="form-control" rows="5" name="description" id="description" required=""></textarea>
</div>
<div class="form-group">
    <label for="exampleInputEmail1">Number Of Question</label>
    <input type="text" class="form-control" name="num_of_ques" id="num_of_ques" aria-describedby="emailHelp" placeholder="Enter Number of Question" required="">
  
  </div>
   <div class="form-group">
    <label for="exampleInputEmail1">Test Duration</label>
    <input type="text" class="form-control" name="time" id="time" aria-describedby="emailHelp" placeholder="Enter Duration minute" required="">
  
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Test Validity</label>
    <input type="datetime-local"  class="form-control" name="validity" id="time" aria-describedby="emailHelp" placeholder="Enter Validity in hour" required="">
  
  </div>
  <div id="allquestionround" >
      
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
</div>
                    </div>
        
                </div>
                </div>
                </div>
              </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">

$("#num_of_ques").change(function(){
   var count = $(this).val();

   if(count > 0){
      
         var mrgol = '';
         var i;
        for (i = 0; i < count; i++) { 
            mrgol = mrgol+'<div class="card"><div class="card-header">Question</div><div class="card-body"><h5 class="card-title"><div class="form-group"><label for="exampleInputEmail1">Question Title</label><input type="text" class="form-control" id="exampleInputEmail1" name="title'+i+'" aria-describedby="emailHelp" placeholder="Enter Series Name"></div></h5><p class="card-text"><div class="form-group"><label for="exampleInputEmail1">Option A</label><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="option_a'+i+'" placeholder="Enter Series Name"></div><div class="form-group"><label for="exampleInputEmail1">Option B</label><input type="text" class="form-control" name="option_b'+i+'" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Series Name"></div><div class="form-group"><label for="exampleInputEmail1">Option C</label><input type="text" class="form-control" id="exampleInputEmail1" name="option_c'+i+'" aria-describedby="emailHelp" placeholder="Enter Series Name"></div><div class="form-group"><label for="exampleInputEmail1">Option D</label><input type="text" name="option_d'+i+'" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Series Name"></div><div class="form-group"><label for="exampleInputEmail1">Option E</label><input type="text" name="option_e'+i+'" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Series Name"></div><div class="form-group"><label for="exampleInputEmail1">Answer</label><select style="    height: 30px;" name="ans'+i+'" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"><option value="option_a">A</option><option value="option_b">B</option><option value="option_c">C</option><option value="option_d">D</option><option value="option_e">E</option></select></div><div class="form-group"><label for="exampleInputEmail1">Explanation</label><input name="explanation'+i+'" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Series Name"></div><div class="form-group"><label for="exampleInputEmail1">Remark</label><input name="remark'+i+'" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Series Name"></div><div class="form-group"><label for="exampleInputEmail1">Priorites</label><input name="priorites'+i+'" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Series Name"></div></p></div></div>';


        }

        $("#allquestionround").html(mrgol);
   }
});

  $("#freecoursesubmition").click(function(){
        if($("#freetitle").val() == ''){
                                                    $("#freetitle_error").text("Please enter a vaild Title");
                                                }
                                                if($("#freedescription").val() == ''){
                                                    $("#freedescription_error").text("Please enter a vaild Description");
                                                }
                                             
                                                if($("#freevideo").val() == ''){
                                                    $("#freevideo_error").text("Video file is required");
                                                }
                                                if($("#freetitle").val() != '' && $("#freevideo").val() != '' && $("#freedescription").val() != ''){
                                                     $("#freecoursesubmition").attr("type","submit");
                                                     $("#freecoursesubmition").click()
                                                }
  });

  $("#addtopicname").click(function(){
       if($("#topicname").val() == ''){
            $("#freetopic_name").text("Please enter a vaild Topic Name");
       }

        if($("#topicname").val() != ''){
             $("#addtopicname").attr("type","submit");
                                                     $("#addtopicname").click()
       }
  });
</script>
<% include partials/footer.ejs %>
