<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>


      <div id="usermgnt" class="tabcontent" style="display: block;">
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="overview-wrap">
                                        <h2 class="title-1">Assignment Management</h2>
                                       
                                    </div>
                                     <a href="/addassignment" style="float:right;margin-bottom: 10px;" class="au-btn au-btn-icon au-btn--blue coursenewlink" onclick="openCourseadd (event, 'insideproc')">
                                           <i class="zmdi zmdi-plus"></i>Add New Assignment</a> 
                                    <div class="col-md-12 tabdatabga">
                                    <div class="">
                                <!-- DATA TABLE-->
                                        <div class="table-responsive m-b-40">
                                              <% if (students) {%>
                                            <table id="example" class="table table-borderless table-data3">
                                                <thead>
                                                    <tr>
                                                        <th>S No.</th>
                                                        <th>Title</th>
                                                        <th>Assignment File</th>
                                                       <th>Solution</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                     <% 
                                                     var incnum = 0;
                                                     students.forEach((player, index) => {
                                                     
                                                     incnum++;

                                                     %>
                                                  <tr>
                            <th scope="row"><%= incnum %></th>
                              <td><%= player.title %></td>
                           <td><a target="_blank" href="<%= player.file %>">View Assignment</a></td>
                           
                           <td>
                           <% if(player.solution) { %>
                           <a target="_blank" href="<%= player.solution %>">View Solution</a>
                           <% } else { %>
                           No Solution
                           <% } %>
                           </td>
                           <td>  <a href="/deleteassign/<%= player.id %>" class="btn btn-sm btn-danger">Delete</a></td>
                           
                           
                        </tr>
                                                   <% }) %>
                                                </tbody>
                                            </table>
                                         <% } else { %>
            <p class="text-center">No data found. </p>
        <% } %>
      
                                        </div>
                                        
                                         <% if (pageCount > 1) { %>
<ul class="pagination">
  <% if (currentPage > 1) { %>
  	<li><a href="/paymentlist?page=1">&laquo;</a></li>
  <% } %>
  <% var i = 1;
  if (currentPage > 5) {
  i = +currentPage - 4;
  } %>
  <% if (i !== 1) { %>
  	<li class="disabled"><a href="#">...</a></li>
  <% } %>
  <% for (i; i<=pageCount; i++) { %>
    <% if (currentPage == i) { %>
    	<li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
    <% } else { %>
    	<li><a href="/paymentlist?page=<%= i %>"><%= i %></a></li>
    <% } %>
    <% if (i == (+currentPage + 4)) { %>
    	<li class="disabled"><a href="#">...</a></li>
    <% break; } %>
  <% } %>
  <% if (currentPage != pageCount) { %>
  	<li><a href="/paymentlist?page=<%= currentPage+1 %>">&raquo;</a></li>
  <% } %>
</ul>
<% } %>
                                        
                                <!-- END DATA TABLE-->
                                    </div>
                              
                                    </div>
                                </div>
                            </div>
                        </div>
                              
                    </div>
                </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
            </div>
            
            <style>
                .pagination li {
                    padding:10px;
                }
            </style>
            <% include partials/footer.ejs %>