<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div id="banrmgnt" class="tabcontent" >
			<div class="main-content">
						<div class="section__content section__content--p30">
							<div class="container-fluid">
							<div class="overview-wrap">
										<h2 class="title-1">Banner Management</h2>	
									</div>
									
									<div class="col-md-12 tabdatabga">
									<div class="">
                                <!-- DATA TABLE-->
								
								<div class="bannersect homeside">
								<h3>Add New Banner</h3>
								<div class="banerfields">
								
								<form action="/banner" method="post" enctype="multipart/form-data">
								<div class="row">
								<div class="col-md-12">
								<p>Select Image or Url</p>
								<input type="radio" name="poster" class="posterby" value="image" checked> Image
  								<input type="radio" name="poster" class="posterby" value="url"> Url
								<br><br>
								<div id="urluploadebanner" style="display: none;">
								<input type="text" id="urlimagevalue" name="image" placeholder="Add Reference URL">
								<span id="urlerror" style="color: red;"></span>
								</div>
								<div id="iamgeaddbanner">
								
									<div class="gridboxaj">
										<div class="events-banners">
											<div class="image_change_edit">
												 <img src="/person-dummy.png" class="img-responsive center-block" id="profile-img-tag">
												  <div class="uploadicopan">
												 <input type="file" name="file" id="profile-img">
												 <label class="label_image_upload" for="profile-img"><i class="fa fa-plus" aria-hidden="true"></i></label>
												 </div>
											</div>
										</div>
									</div>
									<span id="imageerror" style="color: red;"></span>
								</div>

								</div>
								
								</div>
								<br><br>
								<p>Select Page</p>
								<input type="radio" name="type" value="home" checked> Home
  								<input type="radio" name="type" value="book"> Book
								<br><br>
								<input type="button" id="bannersubmition" Value="Submit" class="btn btn-primsub">
								</form>
								
								</div>
								</div>
								<div class="bannersect">
									<div class="row">
								 <% if (players.length > 0) {

                                                     var incnum = 0;
                                                     players.forEach((player, index) => {
                                                     
                                                     incnum++;

                                                     if(player.type == 'home'){
                                                     %>
								<div class="col-md-4">
								<div class="card">
								  <img src="<%= player.image %>" alt="Avatar" style="width:100%">
								  <div class="container">
								    <h4><%= player.type %></h4> 
								  </div>

								  <a href="/deletebanner/<%= player.id %>" class="deltcmnt"><i class="zmdi zmdi-delete"></i></a>
								</div>
								</div>

								 <% } else { %>
								  <div class="col-md-4">
								<div class="card">
								  <iframe style="width:100%" src="https://www.youtube.com/embed/<%= player.image %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								  <div class="container">
								    <h4><%= player.type %></h4> 
								  </div>

								  <a href="/deletebanner/<%= player.id %>" class="deltcmnt"><i class="zmdi zmdi-delete"></i></a>
								</div>
								</div>	

								 <%

								 } }) %>
								 </div>
								 </div>
								  <% } else { %>
            <p class="text-center">No User found. </p>
        <% } %>
								
						
								
										
                                <!-- END DATA TABLE-->
									</div>
							  
									</div>
			
			</div>
			</div>
			</div>
			</div>

			<script type="text/javascript">

			$("#bannersubmition").click(function(){

				

				if($('input[name=poster]:checked').val() == 'url'){
					if($("#urlimagevalue").val() == ''){
						$("#urlerror").text("This field is required");
					} else {
						$("#bannersubmition").attr("type","submit");
						$("#bannersubmition").click();
					}
				} else if($('input[name=poster]:checked').val() == 'image') {
					if($("#profile-img").val() == ''){
						$("#imageerror").text("This field is required");
					} else {
						$("#bannersubmition").attr("type","submit");
						$("#bannersubmition").click();
					}
				}
			});

				
			$(".posterby").change(function(){
				
				if($(this).val() == 'url'){
					$("#urluploadebanner").css('display','block');
					$("#iamgeaddbanner").css('display','none');
				}

				if($(this).val() == 'image'){
					$("#iamgeaddbanner").css('display','block');
					$("#urluploadebanner").css('display','none');
				}
			});
			</script>
			<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.bannersect .card{
    position:relative;
}

.bannersect .card{cursor:pointer;}

.bannersect .card a.deltcmnt {
    position: absolute;
    right: 7px;
    top: 20px;
    background: #fff;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    box-shadow: 0px 0px 10px 0px;
    opacity:0;
    visibility:0;
    cursor:pointer;
}

.bannersect .card:hover a.deltcmnt{visibility:visible; opacity:1; cursor:pointer;}

.bannersect .card img{
    height:196px;
}
</style>

<% include partials/footer.ejs %>