<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div id="banrmgnt" class="tabcontent" >
      <div class="main-content">
            <div class="section__content section__content--p30">
              <div class="container-fluid">
              <div class="overview-wrap">
                    <h2 class="title-1">Books Management</h2>  
                  </div>
                   <a href="/addbook" style="float:right;margin-bottom: 10px;" class="au-btn au-btn-icon au-btn--blue coursenewlink" onclick="openCourseadd (event, 'insideproc')">
                                           <i class="zmdi zmdi-plus"></i>Add New Book</a> 
                  <div class="col-md-12 tabdatabga">
                  <div class="">
                      
                                <!-- DATA TABLE-->
               
                <div class="bannersect">
                  <div class="row">
                 <% if (players.length > 0) {

                                                     var incnum = 0;
                                                     players.forEach((player, index) => {
                                                     
                                                     incnum++;
                                                     %>
                <div class="col-md-4">
                <div class="card">
                  <div class="card-header" style="background: #ea3232;">
                    <h5 style="color: white;"><%= player.title %><a href="/deletebook/<%= player.id %>" class="deltcmnt"><i class="zmdi zmdi-delete"></i></a></h5>
                    <h5 style="color: white;float: right;"><%= player.price %></h5>
                  </div>
                  <div class="card-body">
                  <!--   <h5 class="card-title">Special title treatment</h5> -->
                  <img src="<%= player.image %>">
                    <p class="card-text"><%= player.description %></p>
                    <% if(player.file){ %>
                    <a href="https://asecenglish.com/asecapi/api/viewbook/<%= player.id %>" target="_blank">View Pdf</a>
                     <% } %>
                  </div>
                  <div class="card-footer text-muted">
                    By <%= player.publisher %> 
                  </div>    
                </div>
                </div>

                 <% }) %>
                 </div>
                 </div>
                  <% } else { %>
            <p class="text-center">No User found. </p>
        <% } %>
                
            
                
                    
                                <!-- END DATA TABLE-->
                  </div>
                
                  </div>
      
      </div>
      </div>
      </div>
      </div>

      <script type="text/javascript">

      $("#bannersubmition").click(function(){

        

        if($('input[name=poster]:checked').val() == 'url'){
          if($("#urlimagevalue").val() == ''){
            $("#urlerror").text("This field is required");
          } else {
            $("#bannersubmition").attr("type","submit");
            $("#bannersubmition").click();
          }
        } else if($('input[name=poster]:checked').val() == 'image') {
          if($("#profile-img").val() == ''){
            $("#imageerror").text("This field is required");
          } else {
            $("#bannersubmition").attr("type","submit");
            $("#bannersubmition").click();
          }
        }
      });

        
      $(".posterby").change(function(){
        
        if($(this).val() == 'url'){
          $("#urluploadebanner").css('display','block');
          $("#iamgeaddbanner").css('display','none');
        }

        if($(this).val() == 'image'){
          $("#iamgeaddbanner").css('display','block');
          $("#urluploadebanner").css('display','none');
        }
      });
      </script>
      <style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.bannersect .card{
    position:relative;
}

.bannersect .card{cursor:pointer;}

.bannersect .card a.deltcmnt {
    position: absolute;
    right: 7px;
    top: 20px;
    background: #fff;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    box-shadow: 0px 0px 10px 0px;
    opacity:0;
    visibility:0;
    cursor:pointer;
}

.bannersect .card:hover a.deltcmnt{visibility:visible; opacity:1; cursor:pointer;}

.bannersect .card img{
    height:196px;
}
</style>

<% include partials/footer.ejs %>