<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>
  <script src="//cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div id="staticontentmgnt" class="tabcontent">
        <div class="main-content">
              <div class="section__content section__content--p30">
                <div class="container-fluid">
                <div class="row">
                <div class="col-md-12"> 
                <div class="overview-wrap">
                      <h2 class="title-1">Static Content  Management</h2>
                </div>
<div class="container">
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#home">About Us</a></li>
    <li><a data-toggle="pill" href="#menu1">Contact Us</a></li>
     <li><a data-toggle="pill" href="#menu2">Terms and Condition</a></li>
      <li><a data-toggle="pill" href="#menu3">Terms and Condition for Test</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">

    <form action="/aboutus" method="post">
    <div>
      <textarea cols="80" rows="10" id="aboutus" name="aboutus"> 
       <%=players[3].pagedetails %>
      </textarea>
      <script type="text/javascript">
        CKEDITOR.replace( 'aboutus' );
      </script>
      <input class="btn btn-primsub" type="submit" value="Submit"/>
    </div>
  </form>
    </div>
    <div id="menu1" class="tab-pane fade">
      <form action="/contactus" method="post">
    <div>
      <textarea cols="80" rows="10" id="contactus" name="contactus"> 
         <%=players[2].pagedetails %>
      </textarea>
      <script type="text/javascript">
        CKEDITOR.replace( 'contactus' );
      </script>
      <input class="btn btn-primsub" type="submit" value="Submit"/>
    </div>
  </form>
    </div>
    <div id="menu2" class="tab-pane fade">
      <form action="/tandc" method="post">
    <div>
      <textarea cols="80" rows="10" id="tandc" name="tandc"> 
         <%=players[1].pagedetails %>
      </textarea>
      <script type="text/javascript">
        CKEDITOR.replace( 'tandc' );
      </script>
      <input class="btn btn-primsub" type="submit" value="Submit"/>
    </div>
  </form>
    </div>
     <div id="menu3" class="tab-pane fade">
      <form action="/tandc1" method="post">
    <div>
      <textarea cols="80" rows="10" id="tandc1" name="tandc1"> 
         <%=players[0].pagedetails %>
      </textarea>
      <script type="text/javascript">
        CKEDITOR.replace( 'tandc1' );
      </script>
      <input class="btn btn-primsub" type="submit" value="Submit"/>
    </div>
  </form>
    </div>
    
  </div>
</div>
</div>
                    </div>
        
                </div>
                </div>
                </div>
              </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<% include partials/footer.ejs %>
