<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>
      <div id="coursemgnt" class="tabcontent">
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="overview-wrap">
                                        <h2 class="title-1">Course Management</h2>
                                       
                                    </div>
                                    
                                    <div  id="mainproc" class="tabdatabga coursetypecontent col-md-12" style="display: block;">
                                    <a href="/addcourse" class="au-btn au-btn-icon au-btn--blue coursenewlink" onclick="openCourseadd (event, 'insideproc')">
                                           <i class="zmdi zmdi-plus"></i>Add New Course</a> 
                                <!-- DATA TABLE-->
                                        <div class="table-responsive m-b-40">
                                              <% if (players.length > 0) {%>
                                            <table class="table table-borderless table-data3">
                                                <thead>
                                                    <tr>
                                                         <th>S No.</th>
                                                         <th>Course Video</th>
                                                        <th>Course Title</th>
                                                        <th>Course Description</th>
                                                        <th>Course Type</th>
                                                       <!--  <th>Publish Date/Time</th> -->
                                                       <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                     <% 
                                                     var incnum = 0;
                                                     players.forEach((player, index) => {
                                                     
                                                     incnum++;
                                                     %>
                                                  <tr>
                            <th scope="row"><%= incnum %></th>
                            <td><a href="<%= player.video %>" target="_blank"><img src="<%= player.thumbnail %>" class="rounded-circle player-img" alt=""></a></td>
                            <td><a href="/detailcourse/<%= player.type %>/<%= player.id %>" ><%= player.title %></a></td>
                            <td><%= player.description %></td>
                            <td><%= player.type %></td>
                           <!--  <td><%= player.created_at %></td> -->
                           
                            <td>
                                <% if(player.type == 'paid'){ %>
                                <a href="/deletepaidcourse/<%= player.id %>" class="btn btn-sm btn-danger">Delete</a>
                                <% } else { %>
                                  <a href="/deletefreecourse/<%= player.id %>" class="btn btn-sm btn-danger">Delete</a>
                                  <% } %>
                            </td>
                           
                        </tr>
                                                   <% }) %>
                                                </tbody>
                                            </table>
                                             <% } else { %>
            <p class="text-center">No User found. </p>
        <% } %>
                                        </div>
                                        
                                <!-- END DATA TABLE-->
                                    </div>

                              
                                   
                                </div>
                            </div>
                        </div>
                              
                    </div>
                </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
            </div>
            
            <% include partials/footer.ejs %>