<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" >

      <div id="usermgnt" class="tabcontent" style="display: block;">
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="overview-wrap">
                                        <h2 class="title-1">Faq Management</h2>
                                          <a href="/addfaq" style="float:right;margin-bottom: 10px;" class="au-btn au-btn-icon au-btn--blue coursenewlink" onclick="openCourseadd (event, 'insideproc')">
                                           <i class="zmdi zmdi-plus"></i>Add Faq</a> 
                                    </div>
                                    <div class="col-md-12 tabdatabga">
                                    <div class="">
                                <!-- DATA TABLE-->
                                        <div class="table-responsive m-b-40">
                                             
                                            <table id="example" class="table table-borderless table-data3">
                                                <thead>
                                                    <tr>
                                                        <th>S No.</th>
                                                        <th>Query</th>
                                                        <th>Answer</th>
                                                        
                                                        <th>Action</th>
                                                      
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                     <% 
                                                     var incnum = 0;
                                                     students.forEach((player, index) => {
                                                     
                                                     incnum++;
                                                     %>
                                                  <tr>
                            <th scope="row"><%= incnum %></th>
                          
                            <td><%= player.query %></td>
                            <td><%= player.ans %></td>
                            
                           
                            <td>
                                <a href="/delfaqlist/<%= player.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                          
                        </tr>
                                                   <% }) %>
                                                </tbody>
                                            </table>
                                           
      
                                        </div>
                                        
                                         <% if (pageCount > 1) { %>
<ul class="pagination">
  <% if (currentPage > 1) { %>
  	<li><a href="/users?page=1">&laquo;</a></li>
  <% } %>
  <% var i = 1;
  if (currentPage > 5) {
  i = +currentPage - 4;
  } %>
  <% if (i !== 1) { %>
  	<li class="disabled"><a href="#">...</a></li>
  <% } %>
  <% for (i; i<=pageCount; i++) { %>
    <% if (currentPage == i) { %>
    	<li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
    <% } else { %>
    	<li><a href="/users?page=<%= i %>"><%= i %></a></li>
    <% } %>
    <% if (i == (+currentPage + 4)) { %>
    	<li class="disabled"><a href="#">...</a></li>
    <% break; } %>
  <% } %>
  <% if (currentPage != pageCount) { %>
  	<li><a href="/users?page=<%= currentPage+1 %>">&raquo;</a></li>
  <% } %>
</ul>
<% } %>
                                        
                                <!-- END DATA TABLE-->
                                    </div>
                              
                                    </div>
                                </div>
                            </div>
                        </div>
                              
                    </div>
                </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
            </div>
            <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
            <script type="text/javascript">
                $(document).ready(function() {
    $('#example').DataTable();
} );
            </script>
            <style>
                .pagination li {
                    padding:10px;
                }
            </style>
            <% include partials/footer.ejs %>