<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>
  <script src="//cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div id="staticontentmgnt" class="tabcontent">
        <div class="main-content">
              <div class="section__content section__content--p30">
                <div class="container-fluid">
                <div class="row">
                <div class="col-md-12"> 
                <div class="overview-wrap">
                      <h2 class="title-1">Forum Management</h2>
                </div>
               
<div >
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#home">Forum Videos</a></li>
    <li><a data-toggle="pill" href="#menu1">Forum Topics</a></li>
  
  </ul>
   <a href="/addforum" style="float:right;margin-bottom: 10px;" class="au-btn au-btn-icon au-btn--blue coursenewlink" onclick="openCourseadd (event, 'insideproc')">
                                           <i class="zmdi zmdi-plus"></i>Add New Forum</a> 
  
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="table-responsive m-b-40">
                                              <% if (players.length > 0) {%>
                                            <table class="table table-borderless table-data3">
                                                <thead>
                                                    <tr>
                                                         <th>S No.</th>
                                                         <th>Forum Video</th>
                                                        <th>Forum Title</th>
                                                        <th>Forum Description</th>
                                                       <th>Action</th>
                                                       <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                     <% 
                                                     var incnum = 0;
                                                     players.forEach((player, index) => {
                                                     
                                                     incnum++;
                                                     %>
                                                  <tr>
                            <th scope="row"><%= incnum %></th>
                            <td><a href="<%= player.video %>" target="_blank"><img style="width:50px;height:50px;" src="<%= player.thumbnail %>" class="rounded-circle player-img" alt=""></a></td>
                            <td><%= player.title %></td>
                            <td><%= player.description %></td>
                            <td>
                                <a href="/deletevideoforum/<%= player.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                             <td>
                                 <% if(player.admin_status == 0){ %>
                                <a class="action_an btn btn-danger" href="/changevideoforumstatus/<%= player.id %>" >
                                <span class="dlt_icon">
                                Inactive
                                </span>
                                </a>
                                <% } else { %>
                                <a class="action_an btn btn-success" href="/changevideoforumstatus/<%= player.id %>" >
                                <span class="dlt_icon">
                                Active
                                </span>
                                </a>
                                <% } %>
                            </td>
                           
                        </tr>
                                                   <% }) %>
                                                </tbody>
                                            </table>
                                             <% } else { %>
            <p class="text-center">No User found. </p>
        <% } %>
                                        </div>
  
    </div>
    <div id="menu1" class="tab-pane fade">
    <div class="table-responsive m-b-40">
                                              <% if (topics.length > 0) {%>
                                            <table class="table table-borderless table-data3">
                                                <thead>
                                                    <tr>
                                                         <th>S No.</th>
                                                         <th>Discussion Topic</th>
                                                        <th>Number Of Comments</th>
                                                       <th>Action</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                     <% 
                                                     var incnum = 0;
                                                     topics.forEach((player, index) => {
                                                     
                                                     incnum++;
                                                     %>
                                                  <tr>
                            <th scope="row"><%= incnum %></th>
                          
                            <td><%= player.name %></td>
                            <td><a href="/viewcomment/<%= player.id %>/<%= player.name %>"><%= player.ctmt %></a></td>
                            <td>
                                <a href="/deletetopicforum/<%= player.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                             <td>
                                 <% if(player.admin_status == 0){ %>
                                <a class="action_an btn btn-danger" href="/changetopicforumstatus/<%= player.id %>" >
                                <span class="dlt_icon">
                                Inactive
                                </span>
                                </a>
                                <% } else { %>
                                <a class="action_an btn btn-success" href="/changetopicforumstatus/<%= player.id %>" >
                                <span class="dlt_icon">
                                Active
                                </span>
                                </a>
                                <% } %>
                            </td>
                           
                        </tr>
                                                   <% }) %>
                                                </tbody>
                                            </table>
                                             <% } else { %>
            <p class="text-center">No User found. </p>
        <% } %>
                                        </div>
    </div>
    
  </div>
</div>
</div>
                    </div>
        
                </div>
                </div>
                </div>
              </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    @media (min-width: 1200px)
.container {
    width: 996px;
}
</style>
<% include partials/footer.ejs %>
