<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style> 
#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 50px;
  display: none;
}
</style>
      <div id="coursemgnt" class="tabcontent">
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="overview-wrap">
                                        <h2 class="title-1">Live Channel Management</h2>
                                       
                                    </div>
                                  
                                    <div  id="mainproc" class="tabdatabga coursetypecontent col-md-12" style="display: block;">
                                   
                                   <!--  <button  id="addnewcupon" class="au-btn au-btn-icon au-btn--blue" >
                                           <i class="zmdi zmdi-plus"></i>Add New Cupon</button>  -->
                                <!-- DATA TABLE-->
                                       <!--  <div id="panel">
                                          <form name="myform" action="/cupon" method="post">
  <div class="form-group">
    <label for="email" style="float: left;">Cupon code:</label>
     <input  style="float: right;" type="button" class="button" value="Generate" onClick="generate();" tabindex="2">
    <input type="text" class="form-control" id="cupon" name="code">
    <span style="color: red;float: left;" id="cupon_error"></span>
  </div>
  <br>
  <div class="form-group">
    <label for="pwd" style="float: left;">Expiry Date:</label>
    <input type="date" class="form-control" name="validity" id="exp">
    <span style="color: red;float: left;" id="exp_error"></span>
  </div>
   <button type="button" id="cancel" class="btn btn-default">Cancel</button>
  <button type="button" id="cuponsubmit" class="btn btn-default">Submit</button>
</form>
                                        </div> -->
                                        <div class="table-responsive m-b-40">
                                              <% if (players.length > 0) {%>
                                            <table class="table table-borderless table-data3">
                                                <thead>
                                                    <tr>
                                                         <th>S No.</th>
                                                           <th>Title</th>
                                                           <th>Latest View Link</th>
                                                        <th>Description</th>
                                                         <th>Channel Id</th>
                                                        <th>Course Id</th>
                                                        <th>Streaming Link</th>
                                                      
                                                       <!--  <th>Publish Date/Time</th> -->
                                                       <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                     <% 
                                                     var incnum = 0;
                                                     players.forEach((player, index) => {
                                                     
                                                     incnum++;
                                                     %>
                                                  <tr>
                            <th scope="row"><%= incnum %></th>
                             <td><%= player.title %></td>
                              <td><%= player.viewlink %></td>
                            <td><%= player.description %></td>
                            <td><%= player.channelid %></td>
                            <td><%= player.course_id %></td>
                              <td><%= player.streamchannelid %></td>
                           
                          <%

                            if(player.status == '1'){

                          %>
                         
                           
                            <td>
                             <a href="/servicerun/0/<%= player.channelid %>/<%= player.id %>/<%= player.course_id %>" class="btn btn-sm btn-danger">Stop</a>
                              <a href="/editstream/<%= player.id %>"><i class="fa fa-edit" style="font-size:36px"></i></a>
                            </td>
                           
                           <% } else { %>
                                 <td>
                             <a href="/servicerun/1/<%= player.channelid %>/<%= player.id %>/<%= player.course_id %>" class="btn btn-sm btn-success">Start</a>
                             <a href="/editstream/<%= player.id %>"><i class="fa fa-edit" style="font-size:24px"></i></a>
                            </td>

                        <%   } %>
                        </tr>
                                                   <% }) %>
                                                </tbody>
                                            </table>
                                             <% } else { %>
            <p class="text-center">No User found. </p>
        <% } %>
                                        </div>
                                        
                                <!-- END DATA TABLE-->
                                    </div>

                              
                                   
                                </div>
                            </div>
                        </div>
                              
                    </div>
                </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
            </div>
            <script type="text/javascript">
                
                $("#addnewcupon").click(function(){
                     $("#panel").slideDown("slow");
                });

                $("#cancel").click(function(){
                    $("#panel").slideUp("slow");
                });
            </script>
            <script type="text/javascript">
              
              $("#cuponsubmit").click(function(){
                    if($("#cupon").val() == ''){
                        $("#cupon_error").text("Please Enter a Cupon Code");
                    }

                    if($("#exp").val() == ''){
                        $("#exp_error").text("Please Enter a Expiry Date");
                    }

                    if($("#cupon").val() != '' && $("#exp").val() != ''){
                        $("#cuponsubmit").attr("type","submit");
                        $("#cuponsubmit").click();
                    }
              });
            </script>
            <script type="text/javascript">
                function randomPassword(length) {
    var chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOP1234567890";
    var pass = "";
    for (var x = 0; x < length; x++) {
        var i = Math.floor(Math.random() * chars.length);
        pass += chars.charAt(i);
    }
    return pass;
}

function generate() {
    myform.cupon.value = randomPassword(6);
}
            </script>
            <% include partials/footer.ejs %>