<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<div id="staticontentmgnt" class="tabcontent">
        <div class="main-content">
              <div class="section__content section__content--p30">
                <div class="container-fluid">
                <div class="row">
                <div class="col-md-12"> 
                <div class="overview-wrap">
                      <h2 class="title-1">Edit Channel</h2>
                </div>
                <div class="container">
                     <% if (validacao) { %>
            		<ul style="color:red;">
            		<% for (let i=0; i < validacao.length; i++) { %>	
            			<li style="color:red;"><%= validacao[i].msg%></li>
            		<%}%>
            		</ul>
            	<%}%>
                <form action="/modifychannel/<%= players.id %>" method="post" enctype="multipart/form-data">
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" value="<%= players.title %>" name="title" placeholder="Title">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="description" value="<%= players.description %>" name="description" placeholder="Description about book">
    </div>
  </div>
   <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Date/Time</label>
     <div class="col-sm-10" >
        
     <input id="party" type="datetime-local" name="startdatetime" value="2017-06-01T08:30">
    </div>
  </div>
 
  
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Course</label>
    <div class="col-sm-10">
   <select id="country" name="course_videos" multiple>
        <option disabled></option>
           <% if (details.length > 0) {

                                                     var incnum = 0;
                                                     details.forEach((player, index) => {
                                                     
                                                     incnum++;
                                                     %> 
        <option value="<%= player.id %>" <% if(player.id == players.course_id){ %>selected<% } %> ><%= player.title %></option>
        <% }) } %>
    </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
</div>
                
                </div>
                    </div>
        
                </div>
                </div>
                </div>
              </div>
<style>
    .select2-selection__choice__remove {
    display: none !important;
}

</style>  
<script>
    $(document).ready(function() {
    let branch_all = [];
    
    function formatResult(state) {
        if (!state.id) {
            var btn = $('<div class="text-right"><button id="all-branch" style="margin-right: 10px;" class="btn btn-default">Select All</button><button id="clear-branch" class="btn btn-default">Clear All</button></div>')
            return btn;
        }
        
        branch_all.push(state.id);
        var id = 'state' + state.id;
        var checkbox = $('<div class="checkbox"><input id="'+id+'" type="checkbox" '+(state.selected ? 'checked': '')+'><label for="checkbox1">'+state.text+'</label></div>', { id: id });
        return checkbox;   
    }
    
    function arr_diff(a1, a2) {
        var a = [], diff = [];
        for (var i = 0; i < a1.length; i++) {
            a[a1[i]] = true;
        }
        for (var i = 0; i < a2.length; i++) {
            if (a[a2[i]]) {
                delete a[a2[i]];
            } else {
                a[a2[i]] = true;
            }
        }
        for (var k in a) {
            diff.push(k);
        }
        return diff;
    }
    
    let optionSelect2 = {
        templateResult: formatResult,
        closeOnSelect: false,
        width: '100%'
    };
    
    let $select2 = $("#country").select2(optionSelect2);
    
    var scrollTop;
    
    $select2.on("select2:selecting", function( event ){
        var $pr = $( '#'+event.params.args.data._resultId ).parent();
        scrollTop = $pr.prop('scrollTop');
    });
    
    $select2.on("select2:select", function( event ){
        $(window).scroll();
        
        var $pr = $( '#'+event.params.data._resultId ).parent();
        $pr.prop('scrollTop', scrollTop );
        
        $(this).val().map(function(index) {
            $("#state"+index).prop('checked', true);
        });
    });
    
    $select2.on("select2:unselecting", function ( event ) {
        var $pr = $( '#'+event.params.args.data._resultId ).parent();
        scrollTop = $pr.prop('scrollTop');
    });
    
    $select2.on("select2:unselect", function ( event ) {
        $(window).scroll();
        
        var $pr = $( '#'+event.params.data._resultId ).parent();
        $pr.prop('scrollTop', scrollTop );
        
        var branch  = $(this).val() ? $(this).val() : [];
        var branch_diff = arr_diff(branch_all, branch);
        branch_diff.map(function(index) {
            $("#state"+index).prop('checked', false);
        });
    });
    
    $(document).on("click", "#all-branch",function(){
        $("#country > option").not(':first').prop("selected", true);// Select All Options
        $("#country").trigger("change")
        $(".select2-results__option").not(':first').attr("aria-selected", true);
        $("[id^=state]").prop("checked", true);
        $(window).scroll();
    });
    
    $(document).on("click", "#clear-branch", function(){
      $("#country > option").not(':first').prop("selected", false);
      $("#country").trigger("change");
        $(".select2-results__option").not(':first').attr("aria-selected", false);
        $("[id^=state]").prop("checked", false);
        $(window).scroll();
    });
});
</script>
<script type="text/javascript">
    var dateControl = document.querySelector('input[type="datetime-local"]');
dateControl.value = '2017-06-01T08:30';
</script>
<style>
    .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
    width: 250px !important;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<% include partials/footer.ejs %>