<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>


      <div id="usermgnt" class="tabcontent" style="display: block;">
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="overview-wrap">
                                        <h2 class="title-1">Payment Management</h2>
                                       <form action="https://asecenglish.com/export_payment.php" method="get">
                                         <br/>
                                          From: <input type="date" name="startdate" id="txtFromDate" />
                                          To: <input type="date" name="end_date" id="txtToDate" />
                                          <input type="hidden" name="export" value="csv">
                                          <button type="submit" class="btn btn-info">Export</button>
                                       </form>
                                    </div>
                                    <div class="col-md-12 tabdatabga">
                                    <div class="">
                                <!-- DATA TABLE-->
                                        <div class="table-responsive m-b-40">
                                              <% if (students) {%>
                                            <table id="example" class="table table-borderless table-data3">
                                                <thead>
                                                    <tr>
                                                        <th>S No.</th>
                                                        <th>Transaction ID</th>
                                                        <th>ASEC ID</th>
                                                        <th>Product</th>
                                                        <th>Transaction Amount</th>
                                                        <th>Transaction Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                     <% 
                                                     var incnum = 0;
                                                     students.forEach((player, index) => {
                                                     
                                                     incnum++;

                                                     var oplayer = JSON.parse(player.backresponce)
                                                     %>
                                                  <tr>
                            <th scope="row"><%= incnum %></th>
                              <td><%= player.trnx_id %></td>
                           <td>ASEC English:<%= player.user_id %></td>
                           <td><%= player.type %> - <%= player.title %></td>
                           <td><%= oplayer.Transaction_Amount %></td>
                           <td><%= oplayer.Transaction_Date %></td>
                           
                           
                        </tr>
                                                   <% }) %>
                                                </tbody>
                                            </table>
                                         <% } else { %>
            <p class="text-center">No data found. </p>
        <% } %>
      
                                        </div>
                                        
                                         <% if (pageCount > 1) { %>
<ul class="pagination">
  <% if (currentPage > 1) { %>
  	<li><a href="/paymentlist?page=1">&laquo;</a></li>
  <% } %>
  <% var i = 1;
  if (currentPage > 5) {
  i = +currentPage - 4;
  } %>
  <% if (i !== 1) { %>
  	<li class="disabled"><a href="#">...</a></li>
  <% } %>
  <% for (i; i<=pageCount; i++) { %>
    <% if (currentPage == i) { %>
    	<li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
    <% } else { %>
    	<li><a href="/paymentlist?page=<%= i %>"><%= i %></a></li>
    <% } %>
    <% if (i == (+currentPage + 4)) { %>
    	<li class="disabled"><a href="#">...</a></li>
    <% break; } %>
  <% } %>
  <% if (currentPage != pageCount) { %>
  	<li><a href="/paymentlist?page=<%= currentPage+1 %>">&raquo;</a></li>
  <% } %>
</ul>
<% } %>
                                        
                                <!-- END DATA TABLE-->
                                    </div>
                              
                                    </div>
                                </div>
                            </div>
                        </div>
                              
                    </div>
                </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
            </div>
            
            <style>
                .pagination li {
                    padding:10px;
                }
            </style>
            <script type="text/javascript">
              $(document).ready(function(){
    $("#txtFromDate").datepicker({
        numberOfMonths: 2,
        onSelect: function(selected) {
          $("#txtToDate").datepicker("option","minDate", selected)
        }
    });
    $("#txtToDate").datepicker({ 
        numberOfMonths: 2,
        onSelect: function(selected) {
           $("#txtFromDate").datepicker("option","maxDate", selected)
        }
    });  
});

            </script>
            <% include partials/footer.ejs %>