<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>
  <script src="//cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div id="staticontentmgnt" class="tabcontent">
        <div class="main-content">
              <div class="section__content section__content--p30">
                <div class="container-fluid">
                <div class="row">
                <div class="col-md-12"> 
                <div class="overview-wrap">
                      <h2 class="title-1">Send Notification</h2>
                </div>
<div class="container">
  
  <% if(newerror){ %>
 <p class="text-success"><%= newerror %></p>
 <% } %>
    
      <form action="/sendnotify" method="post">
          <div class="form-group">
          <label for="exampleFormControlTextarea1">Large textarea</label>
          <textarea class="form-control rounded-0" id="topicname" name="msg" rows="10"></textarea>
           <span id="freetopic_name" style="color: red;"></span>
        </div>
        
         <input class="btn btn-warning" type="button" id="addtopicname" value="Submit">
  </form>
    
    
  
</div>
</div>
                    </div>
        
                </div>
                </div>
                </div>
              </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
  

  $("#addtopicname").click(function(){
       if($("#topicname").val() == ''){
            $("#freetopic_name").text("Please write down a message");
       }

        if($("#topicname").val() != ''){
             $("#addtopicname").attr("type","submit");
                                                     $("#addtopicname").click()
       }
  });
</script>
<% include partials/footer.ejs %>
