<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style> 
#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 50px;
  display: none;
}
</style>
      <div id="coursemgnt" class="tabcontent">
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="overview-wrap">
                                        <h2 class="title-1">Previous Live Video Management</h2>
                                       
                                    </div>
                                  
                                    <div  id="mainproc" class="tabdatabga coursetypecontent col-md-12" style="display: block;">
                                   
                                <!-- DATA TABLE-->
                                        <div id="panel">
                                          <form name="myform" action="/ulpv" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="email" style="float: left;">Title:</label>
    <input type="text" class="form-control" id="title" name="title">
    <span style="color: red;float: left;" id="title_error"></span>
  </div>
  <br>
   <div class="form-group">
    <label for="email" style="float: left;">Description:</label>
    <input type="text" class="form-control" id="desc" name="desc">
    <span style="color: red;float: left;" id="desc_error"></span>
  </div>
  <br>                                         
  <div class="form-group">
    <label for="email" style="float: left;">Video:</label>
    <input type="file" class="form-control" id="cupon" name="pfile">
    <span style="color: red;float: left;" id="cupon_error"></span>
  </div>
  <br>
  <div class="form-group">
    <label for="pwd" style="float: left;">Select Course:</label>
     <select id="country" name="course_videos" class="form-control" >
        <option disabled></option>
           <% if (details.length > 0) {

                                                     var incnum = 0;
                                                     details.forEach((player, index) => {
                                                     
                                                     incnum++;
                                                     %> 
        <option value="<%= player.id %>" <% if(player.id == players.course_id){ %>selected<% } %> ><%= player.title %></option>
        <% }) } %>
    </select>
    <span style="color: red;float: left;" id="exp_error"></span>
  </div>
   <button type="button" id="cancel" class="btn btn-default">Cancel</button>
  <button type="button" id="cuponsubmit" class="btn btn-default">Submit</button>
</form>
                                        </div>
                                        <div class="table-responsive m-b-40">
                                              <% if (players.length > 0) {%>
                                            <table class="table table-borderless table-data3">
                                                <thead>
                                                    <tr>
                                                         <th>S No.</th>
                                                         <th>Cupon Code</th>
                                                        <th>Expiry Date</th>
                                                     
                                                      
                                                       <!--  <th>Publish Date/Time</th> -->
                                                       <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                     <% 
                                                     var incnum = 0;
                                                     players.forEach((player, index) => {
                                                     
                                                     incnum++;
                                                     %>
                                                  <tr>
                            <th scope="row"><%= incnum %></th>
                            <td><%= player.code %></td>
                            <td><%= player.validity %></td>
                           
                         
                         
                           
                            <td>
                             <a href="/deletecupon/<%= player.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                           
                        </tr>
                                                   <% }) %>
                                                </tbody>
                                            </table>
                                             <% } else { %>
            <p class="text-center">No User found. </p>
        <% } %>
                                        </div>
                                        
                                <!-- END DATA TABLE-->
                                    </div>

                              
                                   
                                </div>
                            </div>
                        </div>
                              
                    </div>
                </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
            </div>
            <script type="text/javascript">
                
                $("#addnewcupon").click(function(){
                     $("#panel").slideDown("slow");
                });

                $("#cancel").click(function(){
                    $("#panel").slideUp("slow");
                });
            </script>
            <script type="text/javascript">
              
              $("#cuponsubmit").click(function(){
                    if($("#cupon").val() == ''){
                        $("#cupon_error").text("Please Enter a Video");
                    }

                    if($("#exp").val() == ''){
                        $("#exp_error").text("Please Enter a Course");
                    }

                      if($("#title").val() == ''){
                        $("#title_error").text("Please Enter a Title");
                    }

                    if($("#desc").val() == ''){
                        $("#desc_error").text("Please Enter a Description");
                    }

                    if($("#cupon").val() != '' && $("#exp").val() != ''){
                        $("#cuponsubmit").attr("type","submit");
                        $("#cuponsubmit").click();
                    }
              });
            </script>
            <script type="text/javascript">
                function randomPassword(length) {
    var chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOP1234567890";
    var pass = "";
    for (var x = 0; x < length; x++) {
        var i = Math.floor(Math.random() * chars.length);
        pass += chars.charAt(i);
    }
    return pass;
}

function generate() {
    myform.cupon.value = randomPassword(6);
}
            </script>
            <% include partials/footer.ejs %>