<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>


      <div id="usermgnt" class="tabcontent" style="display: block;">
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="overview-wrap">
                                        <h2 class="title-1">User Management</h2>
                                        <p>Total number of user : <%= totalStudents %></p>
                                       
                                    </div>
                                    <div class="col-md-12 tabdatabga">
                                    <div class="">
                                <!-- DATA TABLE-->
                                        <div class="table-responsive m-b-40">
                                              <% if (students) {%>
                                            <table id="example" class="table table-borderless table-data3">
                                                <thead>
                                                    <tr>
                                                        <th>S No.</th>
                                                        <th>Image</th>
                                                        <th>ASEC ID</th>
                                                        <th>Full Name</th>
                                                        <th>Email Id</th>
                                                        <th>Phone Number</th>
                                                        <th>Password</th>
                                                        <th>Action</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                     <% 
                                                     var incnum = 0;
                                                     students.forEach((player, index) => {
                                                     
                                                     incnum++;
                                                     %>
                                                  <tr>
                            <th scope="row"><%= incnum %></th>
                            <td><img src="<%if(player.image != ''){ %>http://asecenglish.com/asecapi/public<%= player.image %><% } else { %>person-dummy.png<% } %>" class="rounded-circle player-img" alt=""></td>
                             <td>ASEC English:<%= player.id %></td>
                            <td><%= player.fullname %></td>
                            <td><%= player.email %></td>
                            <td><%= player.phone %></td>
                            <td><%= player.password %></td>
                           
                            <td>
                                <a href="/deleteuser/<%= player.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                            <td>
                                 <% if(player.admin_status == 0){ %>
                                <a class="action_an btn btn-danger" href="/changeuserstatus/<%= player.id %>" >
                                <span class="dlt_icon">
                                Inactive
                                </span>
                                </a>
                                <% } else { %>
                                <a class="action_an btn btn-success" href="/changeuserstatus/<%= player.id %>" >
                                <span class="dlt_icon">
                                Active
                                </span>
                                </a>
                                <% } %>
                            </td>
                        </tr>
                                                   <% }) %>
                                                </tbody>
                                            </table>
                                         <% } else { %>
            <p class="text-center">No data found. </p>
        <% } %>
      
                                        </div>
                                        
                                         <% if (pageCount > 1) { %>
<ul class="pagination">
  <% if (currentPage > 1) { %>
  	<li><a href="/users?page=1">&laquo;</a></li>
  <% } %>
  <% var i = 1;
  if (currentPage > 5) {
  i = +currentPage - 4;
  } %>
  <% if (i !== 1) { %>
  	<li class="disabled"><a href="#">...</a></li>
  <% } %>
  <% for (i; i<=pageCount; i++) { %>
    <% if (currentPage == i) { %>
    	<li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
    <% } else { %>
    	<li><a href="/users?page=<%= i %>"><%= i %></a></li>
    <% } %>
    <% if (i == (+currentPage + 4)) { %>
    	<li class="disabled"><a href="#">...</a></li>
    <% break; } %>
  <% } %>
  <% if (currentPage != pageCount) { %>
  	<li><a href="/users?page=<%= currentPage+1 %>">&raquo;</a></li>
  <% } %>
</ul>
<% } %>
                                        
                                <!-- END DATA TABLE-->
                                    </div>
                              
                                    </div>
                                </div>
                            </div>
                        </div>
                              
                    </div>
                </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
            </div>
            
            <style>
                .pagination li {
                    padding:10px;
                }
            </style>
            <% include partials/footer.ejs %>