<% include partials/newheader.ejs %>
<% include partials/newsidebar.ejs %>
  <script src="//cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div id="staticontentmgnt" class="tabcontent">
        <div class="main-content">
              <div class="section__content section__content--p30">
                <div class="container-fluid">
                <div class="row">
                <div class="col-md-12"> 
                <div class="overview-wrap">
                      <h2 class="title-1"><%= topicname %> Commentlist</h2>
                </div>
               
<div >
  
   <a href="/forum" style="float:right;margin-bottom: 10px;" class="au-btn au-btn-icon au-btn--blue coursenewlink" onclick="openCourseadd (event, 'insideproc')">
                                           <i class="zmdi zmdi-plus"></i>Back</a> 
  
  <div class="tab-content">
   
     <% if (players.length > 0) {%>
            <ul class="list-group">
              
              <% 
                                                     var incnum = 0;
                                                     players.forEach((player, index) => {
                                                     
                                                     incnum++;
                                                     %>
                                                     <li class="list-group-item">ASEC English:<%= player.user_id%> <%= player.msg %></li>
                                                     <% }) %>
            </ul>
      <% } else { %>
            <p class="text-center">No User found. </p>
        <% } %>
  </div>
</div>

<div class="table-responsive m-b-40">
                                              <% if (userdetailslist.length > 0) {%>
                                            <table class="table table-borderless table-data3">
                                                <thead>
                                                    <tr>
                                                         <th>S No.</th>
                                                         <th>ASEC ID</th>
                                                       <!--  <th>Publish Date/Time</th> -->
                                                       <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                     <% 
                                                     var incnum = 0;
                                                     userdetailslist.forEach((player, index) => {
                                                     
                                                     incnum++;
                                                     %>
                                                  <tr>
                            <th scope="row"><%= incnum %></th>
                            <td>ASEC English:<%= player.user_id %></td>
                            
                         
                         
                           
                            <td>
                             <a href="/deletecupon1/<%= player.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                           
                        </tr>
                                                   <% }) %>
                                                </tbody>
                                            </table>
                                             <% } else { %>
            <p class="text-center">No User found. </p>
        <% } %>
                                        </div>
</div>
                    </div>
        
                </div>
                </div>
                </div>
              </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    @media (min-width: 1200px)
.container {
    width: 996px;
}
</style>
<% include partials/footer.ejs %>
